/* This is used for the background*/
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;  /*centers horizontally */
  align-items: center;     /*centers vertically */
  background-size: cover; /* background image covers the entire area */
  background-position: center; /* centers the image */
  font-family: Arial, sans-serif;
}

.login-box {
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  text-align: center; 
  border: 0px;
  background-color: transparent;
} 

.login-box h2 {
  margin-bottom: 12px;
}

.login-form {
  display: flex;
  flex-direction: column; /* It is used to put usename, password, submit in three lines*/
  justify-content: center;
  align-items: center;
}

.login-box input {
  width: 80%;
  padding: 12px;
  margin:10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px
}

.login-box button {
  width: 50%;
  padding: 12px;
  margin-top: 10px;
  background: #2575fc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer; /* cursor changes into hand symbol */
}

.login-box button:hover {
  background: #1a5ed9;
}
.log{
  color: green;
}